.sort-holder {
  float:left;
}

.filter-line-wrapper .filter-line-holder .filter-but.ddm-active {
  background-color: #E9E9E9 !important;
  border: 1px solid #CCCCCC;
  box-shadow: 0 0 3px #CCCCCC inset !important;
  color: #444444;
}

.top-wrapper .menu-holder .main-menu li .ddm-active {
	background: url(/assets/sunrise/top_black_hover.png) repeat-x left top !important;
	border-left: solid 1px #000;
	border-right: solid 1px #000;
	padding: 0;
}

.top-wrapper .menu-holder .main-menu li .ddm-active .modul .arr,
.top-wrapper .menu-holder .main-menu li .ddm-active .create .arr,
.top-wrapper .menu-holder .main-menu li .ddm-active .user .arr {
	background: url(/assets/sunrise/top_arr_up.png) no-repeat right center !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="phone"], input[type="number"], input[type="tel"], input[type="url"], input[type="float"], input[type="decimal"], textarea {
  display: block;
  width: 200px;
  margin: 0;
  padding: 7px 10px;
  background: #fff;
  border: solid 1px #c5c5c5;
  border-radius: 2px;
  -moz-border-radius: 2px;
  color: #616161;
  font-size: 13px;
  font-weight: bold;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="phone"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="float"]:focus, input[type="decimal"]:focus, textarea:focus {
  border: solid 1px #fbcc66;
  -moz-box-shadow: inset 0 1px 3px #d9d9d9;
  -webkit-box-shadow: inset 0 1px 3px #d9d9d9;
  box-shadow: inset 0 1px 3px #d9d9d9;
	outline: none;
}

.dbTable {
  margin: 20px 0 30px 0;
}

.treeHolder li.tree-state-shadow div {
	width:100px;
	height:15px;
	color: #972DA0;
}

.treeHolder li.ui-sortable-helper {
  background: none;
}

/* Nested form */
.nested {
  overflow: hidden;
  background-color: #f5f5f5;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-box-shadow: 0px 0px 1px 1px #fff;
  -moz-box-shadow: 0px 0px 1px 1px #fff;
  box-shadow: 0px 0px 1px 1px #fff;
  padding: 15px 0;
  margin-bottom: 20px;
}
.nested .nested_item {
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
  margin: 5px 0 -6px 0;
  box-shadow: 0 0 1px 1px #FFFFFF;
  padding: 15px 0 0px;
  position: relative;
  overflow: hidden;
}
.nested .nested_bottom {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  clear: both;
}
.nested .nested_bottom .button {
  display: inline-block;
}
.nested .padder {
  margin-left: 20px;
  margin-right: 20px;
  float:left;
  width:200px;
  clear: none;
}
.nested .title-switcher {
  float:none;
}
/* End nested form */

/* Main panel */
.top-wrapper .menu-holder .main-menu .main {
  display: block;
  width: 150px;
  overflow: hidden;
  background: url(/assets/sunrise/top_logo.png) no-repeat 30px center;
  padding: 0 30px 0 60px;
}
.top-wrapper .menu-holder .main-menu .creates {
  display: block;
  width: 75px;
  overflow: hidden;
  background: url(/assets/sunrise/top_plus.png) no-repeat 15px center;
  padding: 0 20px 0 35px;
}
.top-wrapper .menu-holder .main-menu .main .arr, 
.top-wrapper .menu-holder .main-menu .creates .arr {
  display: block;
  overflow: hidden;
  background: url(/assets/sunrise/top_arr_down.png) no-repeat right center;
  padding-right: 15px;
}
.top-wrapper .menu-holder .main-menu li .ddm-active .main .arr,
.top-wrapper .menu-holder .main-menu li .ddm-active .creates .arr {
  background: url(/assets/sunrise/top_arr_up.png) no-repeat right center !important;
}

/*.sub-wrapper .default-list li a {
  padding: 10px 15px;
}*/

.sub-wrapper .default-list {
  display: block;
  float: left;
  overflow: hidden;
  width: 180px;
  padding: 0 0 0 1px;
  margin: 0 0 0 1px;
  list-style: none;
  border-left: solid 1px #000;
}
.sub-wrapper .default-list li a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.sub-wrapper .default-list li span {
  background-color: #252525;
  border-top: 1px solid #131313;
  border-bottom: 1px solid #353535;
  padding: 10px 15px;
  font-size: 13px;
  display: block;
  color: #952c9e;
}
.sub-wrapper .default-list li a:hover {
  background-color: #000;
}
/* End main panel */

.field_with_errors span.error {
  color: #ff0000;
  font-size: 12px; 
}

div.input.check_boxes span.checkbox {
  display: block;
}

div.input.check_boxes span.checkbox label {
  display: inline;
}

/* Boolean checkbox */
div.input.boolean {
  float: left;
}
div.input.boolean label {
  margin: 0;
}
div.input.boolean {
  display: block;
  overflow: hidden;
  margin: 0 3px 3px;
  background: #f3f3f3;
  border: solid 1px #dbdbdb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  padding: 0 10px;
  line-height: 24px;
  font-size: 10px;
  color: #616161;
  text-decoration: none;
  font-weight: bold;
}
div.input.boolean:hover {
  border: solid 1px #c6c6c6;
  color: #444;
  -moz-box-shadow: 0 2px 3px #e6e6e6;
  -webkit-box-shadow: 0 2px 3px #e6e6e6;
  box-shadow: 0 2px 3px #e6e6e6;
}
div.input.boolean:active {
  border: solid 1px #b25cb9;
  color: #444;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
div.input.boolean input, div.input.boolean label {
  display: block;
  float: left;
}
div.input.boolean input {
  margin: 5px 5px 0 0;
  padding: 5px 0; /* for Opera, need to test  */
}
/* End boolean checkbox */

.but-filter-submit {
  width: 73px !important;
  margin: 15px 10px 0 0 !important;
  float: left !important;
}

.but-filter-reset {
  width: 50px !important;
  margin: 15px 0 0 0 !important;
  float: left !important;
  padding: 2px 10px 3px 10px !important;
}

.buttons-holder .grey-but {
  float: left;
  margin-right: 15px;
}

/* Datepicker */
.padder input.date,
.padder input.datetime {
  width: 190px;
  float: left;
}
.padder .calend-holder .but-holder {
  width: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.padder .calend-holder .but-holder .but-container {
  height: 29px;
}
.padder .calend-holder {
  margin-bottom: 10px;
  height: 30px;
  position: relative;
  width: 255px;
}
.ui-datepicker {
  font-size: 12px !important;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.post-edit-holder .chzn-container .chzn-drop {
  position:fixed;
}

/*Uploader button*/
.uploader-button span {
  line-height: 30px;
}

.nested_input_handle {
  float: left;
  cursor: move;
}