<div class="wrapper without-panel">
  <div class="dbTable">
    <div id="activity-feed">
      <% @events.each do |event| %>
        <%= render_activity(event, :layout => "layouts/sunrise/activity_wrapper") %>
      <% end %>
    </div>

    <% if @events.count >= Sunrise::Config.audit_events_per_page -%>
      <div class="centerBtnHolder">
        <%= link_to t('manage.buttons.next_50'), "#", :class=>"button", :style=>"width:100px;", :id=>"events-next" %>
        
        <script type="text/javascript">
          $(document).ready(function(){
            $("#activity-feed").pagination({
              url: '/manage/dashboard',
              binder: '#events-next',
              event: 'click',
              callback: function(data){
                var rows = $(data).find("#activity-feed div.activity");
                $('#activity-feed').append(rows);
              }
            });
          });
        </script>
      </div>
    <% end -%>
  </div>
</div>
