<div class="wrapper without-panel">
  <div class="dbTable">
    <table id="events-table" cellpadding="0" cellspacing="0" border="0" width="100%">
      <tbody>
        <tr class="theader">
          <% ["created_at", "owner", "key", "trackable"].each do |attr| %>
            <th>
              <%= image_tag("sunrise/audit/#{attr}.png") %>
              <%= PublicActivity::Activity.human_attribute_name("activity.#{attr}") %>
            </th>
          <% end -%>
        </tr>
        <%= render :partial => 'activity', :collection => @events %>
      </tbody>
    </table>

    <% if @events.count >= Sunrise::Config.activities_per_page -%>
      <div class="centerBtnHolder">
        <%= link_to t('manage.buttons.next_50'), "#", :class=>"button", :style=>"width:100px;", :id=>"events-next" %>
        
        <script type="text/javascript">
          $(document).ready(function(){
            $("#events-table").pagination({
              url: '/manage/dashboard',
              binder: '#events-next',
              event: 'click',
              callback: function(data){
                var rows = $(data).find("#events-table tr.event");
                $('#events-table tbody').append(rows);
              }
            });
          });
        </script>
      </div>
    <% end -%>
  </div>
</div>
