<div class="but-holder">
  <div class="act-but">
    <%= link_to image_tag('sunrise/empty.gif'), edit_path(model.parent_hash.merge(:id => 0)), :class => 'but-container edit disabled', :title => 'Edit', :"data-editable" => 'edit' %>
  </div>
</div>