<div class="but-holder">
  <div class="act-but">
    <%= link_to 'CSV', export_path(format: :csv), class: 'but-container export', title: 'Export' %>
  </div>
</div>
<% if defined?(Mime::XLSX) %>
  <div class="but-holder">
    <div class="act-but">
      <%= link_to 'XLS', export_path(format: :xlsx), class: 'but-container export', title: 'Export (XLS)' %>
    </div>
  </div>
<% end %>
