<%= content_tag :li, :id => dom_id(record) do %>
	<div> 
	  <%= link_to record.send(abstract_model.config.object_label_method), show_model_path(abstract_model, record) %> 
	</div>
	
	<% unless record.descendants_count.zero? %>
     <%= render :partial => apply_scope("record"), :collection => record.children %>
  <% end %>
<% end -%>
