<div class="wrapper">
  <div class="main-item-list" id="records">
    <%= render :partial => apply_scope("record"), :collection => @records %>
    <%= paginate @records, :theme => 'sunrise', :outer_window => 2 %>
  </div>

  <script type='text/javascript'>
    $(document).ready(function(){
      window['sunrise'].storeQuery();
    });
  </script>
</div>
