<%= simple_form_for Settings.new, url: settings_path, html: {method: :put, id: 'resource-manage-form'} do |f| -%>
  <div class="post-edit-holder">
    <div class="wysiwyg-holder">
      <% @fields.each do |field| -%>
        <div class="padder">
          <%= f.input field[:key], value: Settings[field[:key]], placeholder: field[:default], readonly: field[:readonly], as: field[:type] %>
        </div>
      <% end -%>
    </div>
  </div>

  <%= f.button :submit, style: "display:none;", id: "submit-button-hidden" %>
<% end -%>
