<div class="head">
  <%= link_to image_tag("sunrise/minimise_but.gif", :title=>t('manage.go_site')), , :class=>"minimaze" %>
	<div class="logo"><%=raw t('manage.title') %></div>
	
  <div class="main-menu">
    <ul>
      TODO:
    </ul>
  </div>
    
  <div class="user">
    <div class="user-info">
      <div class="info">
        <%= link_to current_user.name, edit_path(:model_name => current_user.class.name, :id => current_user.id), :class=>"name" %>
        <%= link_to t('manage.exit'), "destroy_user_session_path", :class=>"exit", :method => :delete %>
      </div>
    </div>
    
    <div class="user-foto">
    </div>
  </div>
</div>
