<div class="tabs-holder" data-current-lang="<%= I18n.locale %>" id="lang-tabs">
  <% Sunrise::Config.available_locales.each do |locale| %>
	  <div class="tabs-item lang">
	    <%= link_to t("manage.locale.#{locale}"), 'javascript:void(0);', :"data-lang" => locale %>
	    <%= content_tag :span, t("manage.locale.#{locale}"), :style => 'display:none;' %>
	  </div>
	<% end -%>
</div>
