<div class="top-line-holder">
	<div class="act-buttons-wrapper">
		<div class="but-holder"><div class="check"><input type="checkbox" /></div></div>

		<!--<div class="but-holder"><a href="#" class="del"><img src="images/empty.gif" /></a></div>
		<div class="but-holder disabled"><span class="edit"><img src="images/empty.gif" /></span></div>
		<div class="but-holder"><a href="#" class="add"><img src="images/empty.gif" /></a></div>
		<div class="but-holder"><a href="#" class="opt"><img src="images/empty.gif" /></a></div>-->
		
		<div class="but-holder"><div class="act-but"><a href="#" class="but-container del" title="Delete"><img src="images/empty.gif" /></a></div></div>
		<div class="but-holder"><div class="act-but"><a href="#" class="but-container edit"><img src="images/empty.gif" /></a></div></div>
		<div class="but-holder"><div class="act-but"><a href="#" class="but-container add"><img src="images/empty.gif" /></a></div></div>
		<div class="but-holder"><div class="act-but"><a href="#" class="but-container sort"><img src="images/empty.gif" /></a></div></div>
    <div class="but-holder"><div class="act-but"><a href="#" class="but-container opt disabled"><img src="images/empty.gif" /></a></div></div>
	</div>
</div>
