<%= manage_form_for @record do |f| %> 
  <div class="edit-cont">
    <div class="inputs-bl">
      <%= debug abstract_model.config.edit.fields %>
      
      <%= f.input :title, :input_html => { :class => "text name" } %>
    </div>
  </div>
  
  <%= f.button :submit, :url => index_path %>
<% end %>
