<%= manage_form_for @record do |f| %> 
  <div class="edit-cont">
    <div class="inputs-bl">
      <% abstract_model.config.edit.fields.each do |field| %>
        <%= f.input field.name, field.options if field.visible?(f.object) %>
      <% end %>
    </div>
  </div>
  
  <%= f.button :submit, :url => index_path %>
<% end %>
