<div class="filter-line-wrapper">
  <div class="filter-line-holder">
	  <div class="struct-name"><%= t('manage.edit')%></div>
	
	  <div class="vline-block">
	    <%= submit_tag t('manage.update'), :url => scoped_index_path, :class => "button" %>
		  <!--<input type="submit" value="Применить" class="button gray" />-->
		  <input type="submit" value="Отмена" class="button gray" />
	  </div>
  </div>
</div>
