<div class="filter-line-wrapper">
  <div class="filter-line-holder">
	  <div class="struct-name"><%= t('manage.edit')%></div>
	
	  <div class="vline-block">
		  <input type="submit" value="Сохранить" class="button" />
		  <input type="submit" value="Применить" class="button gray" />
		  <input type="submit" value="Отмена" class="button gray" />
	  </div>
  </div>
</div>
