/* DEVISE CSS */
body, html {
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

* {
  margin: 0;
  padding: 0;
}
img {
  border:none;
  vertical-align: top;
}
a {
  color: #1e347b;
  font-size: 12px;
  display: block;
  margin: 0 0 -3px 0; 
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
br {
  display:none;
}


.devise_session_bg {
  position:fixed;
  z-index: 100;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background-image: linear-gradient(bottom, rgb(255,255,255) 26%, rgb(240,240,240) 70%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 26%, rgb(240,240,240) 70%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 26%, rgb(240,240,240) 70%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 26%, rgb(240,240,240) 70%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 26%, rgb(240,240,240) 70%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.26, rgb(255,255,255)),
    color-stop(0.7, rgb(240,240,240))
  );

  /*-moz-box-shadow: inset 0 0 10px 0 #000;
  -webkit-box-shadow: inset 0 0 10px 0 #000;
  box-shadow: inset 0 0 10px 0 #000;*/
}
.devise_session_new {
  position:absolute;
  top:50%;
  left:50%;
  width:270px;
  background:#fff;
  margin:-167px 0 0 -170px;
  padding:30px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -moz-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.4);
}
.devise_session_new h2 {
  margin-bottom: 25px;
  text-align: center;
}
input[type=email],
input[type=password] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 250px;
  height: 20px;
  padding: 4px 6px;
  margin:0 0 10px 0;
  font-size: 14px;
  line-height: 20px;
  color: #555;
  background-color: #fff;

  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.devise_session_new input[type=email]:focus,
.devise_session_new input[type=password]:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted 9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.devise_session_new label {
  display: inline-block;
  min-width: 60px;
  position: relative;
  top: 1px;
  margin:0 0 3px 0;
}
.devise_session_new div.boolean {
  margin:0 3px 0 0;
}
.devise_session_new .boolean label {
  display:inline-block;
  position:relative;
  top:1px;
  padding:0 0 0 5px;
}

.devise_links {
  background:url(/assets/devise_session_info.png) left center no-repeat;
}

.devise_session_new input[type=submit] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
 
  border: 1px solid #bbbbbb;
  color: #fff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

  padding: 4px 12px;
  margin:10px 0 10px 0;
  font-size: 14px;
}